body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe6f0;
    background-image: radial-gradient(circle at 20% 20%, #ffb6c1 8px, transparent 8px), radial-gradient(circle at 80% 30%, #ffc0cb 10px, transparent 10px), radial-gradient(circle at 40% 70%, #ff99cc 6px, transparent 6px), radial-gradient(circle at 70% 80%, #ffb6c1 8px, transparent 8px);
    background-size: 150px 150px;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(255, 105, 180, 0.4);
    text-align: center;
}

    .login-box h2 {
        color: #d63384;
        margin-bottom: 5px;
    }

.subtitulo {
    color: #999;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ffc0cb;
    transition: 0.3s;
}

    .input-group input:focus {
        border-color: #ff69b4;
        outline: none;
        box-shadow: 0 0 10px rgba(255, 105, 180, 0.4);
    }

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #ff69b4;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .btn-login:hover {
        background-color: #e754a4;
        transform: scale(1.05);
    }

.extra-links {
    margin-top: 15px;
}

    .extra-links a {
        color: #d63384;
        text-decoration: none;
        font-weight: 500;
    }

        .extra-links a:hover {
            text-decoration: underline;
        }
